/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --international-orange-engineering: hsl(1, 91%, 37%);
  --cadet-blue-creyola: hsl(222, 14%, 69%);
  --oxford-blue-1: hsl(222, 47%, 15%);
  --oxford-blue-2: hsl(222, 44%, 14%);
  --oxford-blue-3: hsl(222, 50%, 11%);
  --sonic-silver: hsl(0, 0%, 44%);
  --space-cadet: hsl(222, 44%, 18%);
  --pastel-pink: hsl(1, 53%, 75%);
  --eerie-black: hsl(0, 0%, 15%);
  --white-2: hsl(0, 14%, 98%);
  --white: hsl(0, 0%, 100%);
  --black:hsl(237, 1%, 1%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_5: hsla(0, 0%, 0%, 0.05);
  --royal-blue:hsl(219, 100%, 20%);
  --light-blue:hsl(210, 50%, 60%);
  --light-grey:hsl(180, 1%, 70%);



  --gradient: linear-gradient(to left top, var(--oxford-blue-3), var(--space-cadet));

  /**
   * typography
   */

  --ff-chakra-petch: 'Chakra Petch', sans-serif;
  --ff-mulish: 'Mulish', sans-serif;
  
  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 1.8rem;
  --fs-5: 1.4rem;
  --fs-6: 1.2rem;
  
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * box shadow
   */

  --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
  --shadow-1: 0 6px 24px var(--oxford-blue-1);
  --shadow-2: 0 2px 28px var(--oxford-blue-2);
  --shadow-3: 0 6px 24px var(--black_5);
  --shadow-4: 0 2px 28px var(--black_10);

  /**
   * border radius
   */

  --radius-pill: 100px;
  --radius-circle: 50%;
  --radius-2: 2px;
  --radius-5: 5px;
  --radius-8: 8px;

  /**
   * transition
   */

  --transition: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
textarea
button { display: block; }
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
textarea,
button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea { width: 100%; }
ion-icon { pointer-events: none; }
address { font-style: normal; }

html {
  font-family: var(--ff-mulish);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 16px; }

.material-symbols-rounded {
  --fs: 1em;
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 40;
  font-size: var(--fs);
  width: 1em;
  overflow: hidden;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.section-subtitle {
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 12px;
  margin-inline: auto;
}

.section-subtitle::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 32px;
  margin-block-end: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-subtitle.\:dark { color: var(--white); }

.section-subtitle.\:dark::before { background-image: url('../images/subic.png'); }

.section-subtitle.\:light { color: var(--light-blue); }

.section-subtitle.\:light::before { background-image: url('../images/subicblue.png'); }

.section-title { text-align: center; }

.h1,
.h2,
.h3,
.display-1 {
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.display-1 { font-size: var(--fs-1); }

.h1 {
  color: var(--white);
  font-size: var(--fs-2);
  line-height: 1.1;
  letter-spacing: 1px;
}

.h2,
.h3 {
  color: var(--eerie-black);
  font-weight: var(--fw-600);
  line-height: 1.2;
}

.h2 { font-size: var(--fs-3); }

.h3 { font-size: var(--fs-4); }

.btn {
  background-color: var(--light-blue);
  color: var(--white);
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: var(--radius-pill);
  transition: var(--transition);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-5px);
  background-color: var(--oxford-blue-3);
  border-color: var(--white);
}
.btn1 {
  background-color: var(--light-blue);
  color: var(--white);
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: var(--radius-pill);
  transition: var(--transition);
  will-change: transform;
}

.btn1:is(:hover, :focus-visible) {
  transform: translateY(-5px);
  background-color: var(--oxford-blue-3);
  border-color: var(--white);
}

.move-anim { animation: moving 2s ease-in-out infinite alternate; }

@keyframes moving {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

.section { padding-block: var(--section-padding); }

.btn-link {
  font-family: var(--ff-chakra-petch);
  text-transform: uppercase;
  color: var(--light-blue);
  font-weight: var(--fw-700);
}

.w-100 { width: 100%; }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0px;
  padding-inline-start: 10px;
  z-index: 4;
  
}


.header  {
  background-color: var(--royal-blue);
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo img { 
  height: 45px;
  width: 100%; 
  padding: 5px;
}

.nav-toggle-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  transition: var(--transition);
}

.nav-toggle-icon:not(:last-child) { margin-block-end: 7px; }

.nav-toggle-btn.active .icon-2 {
  opacity: 0;
  transform: translateX(-10px);
}

.nav-toggle-btn.active .icon-1 { transform: rotate(45deg) translate(8px, 8px); }

.nav-toggle-btn.active .icon-3 { transform: rotate(-45deg) translate(4px, -4px); }

.navbar {
  position: absolute;
  top: 10px;
  background-color: var(--light-blue);
  min-width: max-content;
  width: 10%;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 2;
}

.navbar.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-link {
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  text-transform: uppercase;
  color: var(--white);
  padding: 10px 20px;
  transition: var(--transition);
  
}

.navbar-link:is(:hover, :focus-visible) {
  background-color: var(--royal-blue);
  
}

.dropdown-menu .navbar-link{
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  text-transform: uppercase;
  color: var(--white);
  padding: 10px 20px;
  transition: var(--transition);
}


/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 2; 
  margin-top: -50px;
}

.hero .container {
  display: grid;
  gap: 30px;
}

.hero .section-subtitle { text-transform: unset; }

.hero .section-text {
  color: var(--white);
  margin-block: 14px 18px;
}

.hero .btn { margin-inline: auto; }

.hero-banner { 
  aspect-ratio: var(--width) / var(--height); }

.hero-banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  filter: brightness(0.2);
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.image-container {
  position: absolute;
  
  right: 0;
  bottom: 0;
  left: 450px; /* Ensure left is auto for right positioning */
  padding: 10px; /* Add some padding for spacing */
  
  z-index: 1; /* Ensure image is above video overlay */
}

.image-container img {
  max-width: 100%;
  height: auto;
  
}




/*-----------------------------------*\ 
 * #FEATURES
\*-----------------------------------*/


.features {
  background-size: 600px;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  
}


@media (max-width: 1200px) {
  .section-right {
    order: -1; /* Move the right section to the beginning of the flex container */
    width: 100%;
  }

  .video-background {
    display: block; /* Show the video background on screens smaller than 990px */
    
    position: relative;
  }

  
}

.features {
  
  text-align: center;
  
}



.features .section-title {
  color: var(--royal-blue);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  
}

.features .section-text {
  color: var(--black);
  font-size: var(--fs-4);
  margin-bottom: 20px;
  padding: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
  padding: 15px;
  border-radius: 10px;
  text-align: justify;
}

.features-item { margin-bottom: 20px; }

.features-item-banner {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 0px;
  padding: 10px;
  height: 100%;
  
  border-radius: 10px;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/adwp2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5); /* Adjust the brightness as needed */
  z-index: -1;
}

.features-item-banner img , video{ width: 100%;  }

.features-item .item-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}


.features-item{
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 0.5);
}
.features-item .item-text {
  color: var(--black);
  font-size: 19px;
  text-align: justify;
  padding: 10px;
  padding: 15px;
  border-radius: 10px;
}

.features-item .item-text h3{
  color: var(--royal-blue);
}

.features-item .h3 { text-align: center;  color: var(--royal-blue); }


/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-banner { 
  display: none; }

.service { text-align: center; }

.service-list {
  gap: 0;
  margin-block-end: 40px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}

.service-card .card-text {
  line-height: 1.2;
  margin-block: 8px;
}

.service .btn { margin-inline: auto; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  background-color: var(--royal-blue);
  color: var(--white);
  text-align: center;
  text-align: justify;
}

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title { color: var(--white); }

.about .section-text:nth-child(3) { margin-block: 12px 8px; }

.about-list {
  display: grid;
  gap: 25px;
  margin-block-start: 25px;
}

.about-item {
  background-color: var(--oxford-blue-1);
  color: var(--white);
  padding: 40px 20px;
  transition: var(--transition);
}

.about-item:hover {
  background-color: var(--light-blue);
  transform: translateY(-8px);
}

.about-item .strong {
  display: block;
  line-height: 1.1;
}

/*-----------------------------------*\
  #QUALITY
\*-----------------------------------*/

.quality {
  background-color: var(--royal-blue);
  color: var(--white);
  text-align: center;
  text-align: justify;
}

.quality .container {
  display: grid;
  gap: 50px;
}

.quality .section-title { color: var(--white); }

.quality .section-text:nth-child(3) { margin-block: 12px 8px; }

.quality-list {
  display: grid;
  gap: 25px;
  margin-block-start: 25px;
}

.quality-item {
  background-color: var(--oxford-blue-1);
  color: var(--white);
  padding: 40px 20px;
  transition: var(--transition);
}

.quality-item:hover {
  background-color: var(--light-blue);
  transform: translateY(-8px);
}

.quality-item .strong {
  display: block;
  line-height: 1.1;
}


/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta{
  position: relative;
  overflow: hidden;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/adwp2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(0.2); /* Adjust the brightness as needed */
  z-index: -1;
}


.cta-subtitle,
.cta .section-title { color: var(--white); }

.cta-subtitle {
  text-align: center;
  text-align: justify;
}

.cta .section-title { margin-block: 12px 18px; }

.cta .btn { margin-inline: auto; }






/*-----------------------------------*\
  #WORK
\*-----------------------------------*/

.work .container { padding-inline: 0; }

.work .section-title { margin-block-end: 24px; }

.work-card { position: relative; }

.work-card .card-content {
  background-color: var(--royal-blue);
  max-width: 90%;
  padding: 30px 10px;
  margin-block-start: -40px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow);
}

.work-card .card-subtitle {
  
  color: var(--white);
  
  margin-block-end: 5px;
}

.work-card .card-title { 
  color: var(--light-blue);
  margin-block-end: 10px; }

.work-card .card-btn {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 2rem;
  margin-inline: auto;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/



.contact .section-text { margin-block: 5px 35px; }

.contact-form {
  margin-top: 40px;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--radius-2);
  margin-block-end: 30px;
  box-shadow: var(--shadow-4);
}

.section-text {
  font-size: var(--fs-6);
}

.input-field {
  background-color: var(--white-2);
  color: var(--black);
  padding: 15px;
  border-radius: var(--radius-2);
  outline: 1px solid transparent;
  outline-offset: 0;
  margin-block-end: 15px;
  
}

.input-field::-webkit-inner-spin-button { display: none; }

.input-field:focus { outline-color: var(--royal-blue); }

.input-field::placeholder { transition: var(--transition-1); }

.input-field:focus::placeholder { opacity: 0; }

textarea.input-field {
  resize: vertical;
  min-height: 80px;
  height: 100px;
  max-height: 200px;
  overscroll-behavior: contain;
}

.checkbox {
  width: max-content;
  margin-block-start: 5px;
  accent-color: var(--red-crayola);
}

.label-link {
  display: inline-block;
  color: var(--royal-blue);
}

.label-link:is(:hover, :focus) { text-decoration: underline; }

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block-end: 15px;
}


.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 25px;
}

.contact-item { min-width: 100%; }

.contact-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.contact-card .card-icon {
  background-color: var(--cultured-2);
  color: var(--red-crayola);
  font-size: 25px;
  padding: 13px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.contact-card:is(:hover, :focus) .card-icon {
  background-color: var(--red-crayola);
  color: var(--white-1);
}

.contact-card .card-title { margin-block-end: 5px; }

.contact-card :is(.card-link, .card-address) {
  font-size: var(--fs-6);
  transition: var(--transition-1);
}

.contact-card .card-link:is(:hover, :focus) { color: var(--red-crayola); }


/* Container for the split layout */
.split-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

/* Container for tables */
.center-table-container {
  flex: 1;
  margin-right: 20px;
}

/* Styling for tables */
.center-table {
  margin: 0 auto;
  overflow-x: auto;
  max-width: 100%;
  background-color: var(--white);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 0px;
  padding: 0;
  
  table-layout: fixed;
  color: var(--white);
  background: linear-gradient(45deg, #4E65FF, #92EFFD);
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.center-table .h3 {
  margin-top: 20px;
  text-align: center;
  color: var(--royal-blue);
  background-color: var(--white);
}

table tr {
  border: 10px solid var(--white);
  padding: .35em;
}

table th,
table td {
  border: 1px solid var(--white);
  padding: .625em;
  text-align: center;
  font-size: .75em;
  text-transform: uppercase;
}

table th {
  background-color: linear-gradient(45deg, #4E65FF, #92EFFD);
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--royal-blue);
}

/* Media Queries for responsiveness */
@media screen and (max-width: 801px) {
  table {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  table {
    width: 100%;
    font-size: 9px;
  }
}

/* Container for the product cards */
.product-container {
  flex: 1;
  position: relative;
}

/* Product card layout */
.product-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.product-video {
  width: 500px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px ;
  border: 2px solid var(--royal-blue);
}

.product-card1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between product cards */
}

.product-img1 {
  width: 245px;
  height: 50%;
  margin-top: 10px;
  gap: 1px;
  margin: 3px;
  border-radius: 10px ;
  border: 2px solid var(--royal-blue);
  
}

.product-container .h3 {
  margin-top: 20px;
  text-align: center;
  color: var(--royal-blue);
  margin-bottom: 20px;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .center-table-container {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .split-container {
    flex-direction: column;
  }

  .center-table-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product-container {
    width: 100%;
  }

  .product-card1 {
    flex: 1 1 100%;
  }
}

@media (max-width: 575px){
  .product-video {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px ;
    border: 3px solid var(--royal-blue);
  }
  .product-img1 {
    width: 150px;
   
    
  }
}


/* .center-table {
  margin: 0 auto;
  overflow-x: auto;
  max-width: 100%;
  background-color: var(--white);
  
}


table {
  
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 0px;
  padding: 0;
  width: 600px;
  table-layout: fixed;
  color: var(--white);
  background: linear-gradient(45deg, #4E65FF  , #92EFFD);
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.center-table .h3 {
  margin-top: 20px; 
  text-align: center;  
  color: var(--royal-blue); 
  background-color: var(--white);
}
table tr {
  border: 10px solid var(--white) ;
  padding: .35em;
  
}

table th,
table td {
  border: 1px solid var(--white) ;
  padding: .625em;
  text-align: center;
  font-size: .75em;
  text-transform: uppercase;
  
}



table th {
  background-color: linear-gradient(45deg, #4E65FF  , #92EFFD);
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--royal-blue);
}

@media screen and (max-width: 575px) {
  table {
    width: 370px;
    font-size: 9px;
  }

  
}

@media screen and (max-width: 801px) {
  table {
    width: 570px;
    font-size: 12px;
  }

  
}

@media screen and (max-width: 575px) {
  table {
    width: 370px;
    font-size: 9px;
  }

  
}

 */


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { color: var(--cadet-blue-creyola); }

.footer .shape { 
  display: none; }

.footer-top { background-color: var(--royal-blue); }

.footer-top .container {
  display: grid;
  gap: 40px;
}

.footer-text { margin-block: 18px 20px; text-align: justify;}

.social-list {
  display: flex;
  gap: 8px;
}

.social-link {
  background-color: var(--oxford-blue-3);
  padding: 14px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--light-blue);
  transform: translateY(-5px);
}

.footer .h3 {
  color: var(--white);
  margin-block-end: 18px;
}

.footer-list .p {
  color: var(--white);
  font-weight: var(--fw-400);
  margin-block-end: 7px;
}

.footer-list li:not(:first-child) { margin-block-start: 16px; }

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-link:is(:hover, :focus-visible) { color: var(--light-blue); }

.footer-link .material-symbols-rounded {
  flex-shrink: 0;
  font-size: 1.8rem;
}

.footer-bottom {
  background-color: var(--oxford-blue-3);
  padding-block: 20px;
}


.copyright {
  text-align: center;
  font-size: var(--fs-6);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


@media (min-width: 575px) and (max-width: 990px) {
  .image-container {
      position: static; /* Remove absolute positioning */
      margin-top: -90px; /* Use negative margin to reduce gap */
      text-align: center; /* Align image to the center */
  }
  .image-container img {
    max-width: 100%;
    height: 50;
    
  }


}

/* Media query for screens less than 575px (mobile devices) */
@media (max-width: 575px) {
  .image-container {
      position: static; /* Reset positioning */
      margin-top: -80px; /* Adjust margin as needed */
      text-align: center; /* Align image to the center */
      top: 0;
  }
}

@media (min-width: 150px) and (max-width: 0px){
  .features-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .features-item {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  }

  .features-item-banner {
    flex: 0 0 auto; /* Prevent images from shrinking */
  }

  .features-item-banner img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
  }
  .hero-content {
    
    top: -10px;
  }
}



/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4rem;
    --fs-3: 2.8rem;
    --fs-4: 2rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .section-subtitle { --fs-5: 1.6rem; }

  .h2 { font-weight: var(--fw-700); }



  /**
   * HERO
   */

  .hero .container { max-width: unset; }

  .hero-content {
    max-width: 520px;
    margin-inline: auto;
    top: -10px;
  }

  .hero .section-text { font-size: 1.8rem; }

  
  /**
   * FEATURES
   */

  .features .h2 { --fs-2: 32px; }

  



  /**
   * SERVICE
   */

  .service .section-title { margin-block-end: 30px; }

  .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-block-end: 40px;
  }

  

  /**
   * ABOUT
   */

  .about-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .about-item { padding-block: 20px; }



  /**
   * WORK
   */

  .scrollbar-item { min-width: calc(50% - 15px); }
  

  /**
   * CONTACT
   */

  .input-wrapper {
    display: flex;
    gap: 15px;
  }

  .contact-item { min-width: calc(50% - 18px); }

  /**
   * FOOTER
   */

  .footer-top {
    position: relative;
    overflow: hidden;
  }

  .footer-top .container { grid-template-columns: 1fr 1fr; }

  .footer .shape-3 {
    display: block;
    position: absolute;
    bottom: -30px;
    right: 0;
  }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;
    --fs-2: 5rem;
    --fs-3: 3.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container,
  .hero-content { max-width: 720px; }

  .btn { padding: 16px 32px; }

  .section-subtitle { --fs-5: 1.8rem; }

  .section-title:not(.h1) {
    max-width: 500px;
    margin-inline: auto;
  }


  /**
   * HERO
   */

  .hero { --section-padding: 120px; }

  .hero .section-text { margin-block-end: 30px; }



  /**
   * SERVICE
   */

  .service-banner {
    display: block;
    position: relative;
  }

  .service-list { grid-template-columns: repeat(3, 1fr); }

  .service-banner img {
    position: absolute;
    top: 0;
    left: -9%;
    margin-block-start: 15%;
    width: 250px;
    transform-origin: top;
  }



  /**
   * ABOUT
   */
   
  .about-banner { max-width: max-content; }

  .about-banner,
  .about .section-text { margin-inline: auto; }

  .about .section-text { max-width: 520px; }

  /**
   * ABOUT
   */
   
   .quality-banner { max-width: max-content; }

   .quality-banner,
   .quality .section-text { 
     margin-inline: auto; }
 
   .quality .section-text { 
    
    max-width: 520px; }

  /**
   * CONTACT
   */

  .contact-form { padding: 30px; }

  .contact-item { min-width: calc(50% - 12.5px); }


  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 0.9fr 0.9fr; }

  .copyright { --fs-6: 1.4rem; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4.4rem;
    --fs-3: 3.8rem;
    --fs-4: 2.2rem;

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .section-text,
  .card-text { font-size: 1.8rem; }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header .container { gap: 30px; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
    margin-inline-start: auto;
  }

  .navbar-list { display: flex; }

  .navbar-link {
    position: relative;
    font-size: unset;
  }

  .navbar-link:is(:hover, :focus-visible) {
    background: none;
    color: var(--white);
  }

  .navbar-link::after {
    
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  .dropdown-menu > li {
    position: relative;
}
  
  /* Hide dropdown menu by default */
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    text-transform: uppercase;
    right: 120px;
    width: 60%;
    background-color: var(--light-blue);
    
  }

  /* Show dropdown menu on hover */
  .navbar-list > li:hover > .dropdown-menu,
          .navbar-list > li:focus-within > .dropdown-menu {
              display: flex;
          }

  .submenu {
    display: none;
    position: absolute;
    background-color: var(--royal-blue);
    
    list-style: none;
              margin: 0;
              padding: 0px;
              min-width: 140px;
              z-index: 1000;
    
  }
  .dropdown-menu > li:hover > .submenu,
          .dropdown-menu > li:focus-within > .submenu {
              display: block;
          }



  .submenu a {
    display: block;
    padding: 5px ;
    color: var(--white);
    
  }

  .submenu a:hover {
    background-color: var(--light-blue);
  } 

  /* Style for dropdown menu items */
  .dropdown-menu a {
    display: block;
    padding: 5px;
    font-size: unset;
    color: var(--white);
  }

  /* Style for dropdown menu links on hover */
  .dropdown-menu a:hover {
    background-color: var(--light-blue);
  }

  .navbar-link:is(:hover, :focus-visible)::after { opacity: 1; }

  .header .btn {
    display: flex;
    padding: 12px 24px;
    font-size: var(--fs-5);
  }



  /**
   * HERO
   */

  .hero {
    text-align: left;
    padding-block-end: 80px;
  }

  .hero .container {
    max-width: 960px;
    grid-template-columns: 1fr 1fr;
  }

  .hero :is(.section-subtitle, .btn) { margin-inline: 0; }

  .hero .section-title { text-align: left; }

  .hero-banner img { width: 55%; }


  /**
   * FEATURES
   */

   .features :is(.section-title, .section-text) {
    max-width: 650px;
    margin-inline: auto;
  }

  .features-item {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .features-item-banner {
    margin-inline: 0;
    margin-bottom: 0;
    margin-left: 260px;
  }

  .feature-item-content {
    width: 100%;
    text-align: justify;
  }

  .features-item:nth-child(2) { flex-direction: row-reverse; }




  /**
   * SERVICE
   */

  .service-card .card-text {
    padding-inline: 25px;
    line-height: 1.45;
    margin-block-end: 15px;
  }

  .service-list li:nth-child(-2n+3) { margin-block-start: 90px; }

  .service-list li:nth-child(4) { margin-inline-end: 60px; }

  .service-list li:nth-child(6) { margin-inline-start: 60px; }

  .service-banner img {
    
    margin-block-start: -30%;
    
  }



  /**
   * ABOUT
   */

  .about {
    position: relative;
    z-index: 1;
  }

  .about,
  .about .section-title { text-align: left; }

  .about .container {
    grid-template-columns: 1fr 0.75fr;
    gap: 30px;
  }

  .about .section-subtitle { margin-inline: 0; }

  .about-banner,
  .about-banner .w-100 { margin-inline: auto 0; }

  .about-banner .w-100 { width: 40%; }

  .about-item { text-align: center; }

  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/about-abs-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    z-index: -1;
  }

  /**
   * Quality
   */

  .quality {
    position: relative;
    z-index: 1;
  }
  
  .quality,
  .quality .section-title { text-align: left; }
  
  .quality .container {
    grid-template-columns: 1fr 0.75fr;
    gap: 30px;
  }


  
  .quality .section-subtitle { margin-inline: 0; }
  
  .quality-banner,
  .quality-banner .w-100 { margin-inline: auto 0; }
  
  .quality-banner .w-100 { width: 40%; }
  
  .quality-item { text-align: center; }
  
  .quality::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/adwq1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    z-index: -1;
  }
  

  /**
   * WORK
   */

  .has-scrollbar { overflow-x: visible; }

  .scrollbar-item { min-width: calc(33.33% - 20px); }

  /**
   * CONTACT
   */

  .checkbox-wrapper { margin-block: 20px; }

  .contact-item { min-width: calc(33.33% - 16.66px); }
 
  .contact-card { padding: 30px; }
 
  .contact-card .card-icon { font-size: 32px; }

}







/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 5rem;
    --fs-3: 4.6rem;

  }



  /**
   * REUSED STYLE
   */

  .container,
  .hero .container { max-width: 1140px; }

  .btn { padding: 18px 36px; }

  .btn .material-symbols-rounded { --fs: 1.3em; }



  /**
   * HEADER
   */

  .header { padding-block: 10px; }

  .logo img { width: 128px; }

  .header .btn {
    font-size: unset;
    padding-block: 15px;
  }

  



  /**
   * HERO
   */

  /* .hero { padding-block: 250px 50px; } */

  .hero .container { grid-template-columns: 1fr 0.9fr; }

  .hero .section-text {
    font-size: 2rem;
    padding-inline-end: 120px;
  }

  .hero-banner img { width: 70%; }


  /**
   * FEATURES
   */

   .features .h2 { --fs-2: 42px; }

   .features :is(.section-title, .section-text) { max-width: 950px; }
 



  /**
   * SERVICE
   */

  .service .section-title { max-width: 700px; }

  .service-list { margin-block-end: 70px; }

  .service-list li:nth-child(2) .card-text {
    padding-inline: 50px;
  }

  .service-list li:nth-child(-2n+3) {
    margin-block-start: 110px;
  }

  .service-list li:nth-child(+8n-0) {
    margin-block-start: 110px;
  }

  .service-list li:is(:nth-child(1), :nth-child(6)) {
    margin-inline-start: 75px;
  }

  .service-list li:is(:nth-child(3), :nth-child(4)) {
    margin-inline-end: 75px;
  }

  .service-list li:is(:nth-child(7), :nth-child()) {
    margin-inline-start: 75px;
  }

  .service-list li:is(:nth-child(9), :nth-child()) {
    margin-inline-end: 75px;
  }

  .service-banner img {
    width: max-content;
    left: -1px;
  }

  /**
   * CTA
   */

  .cta .section-title { margin-block: 15px 24px; }
  .cta1 .section-title { margin-block: 15px 24px; }


  /**
   * WORK
   */

  .work-card .card-btn {
    font-size: 2.4rem;
    width: 55px;
    height: 55px;
  }

  /**
   * CONTACT
   */

  .contact-form { padding: 50px; }

  .contact-card { gap: 20px; }
 
  .contact-card .card-icon { padding: 15px; }


  /**
   * FOOTER
   */

  .footer-top { padding-block: 150px; }

  .footer-top .container { padding-inline-start: 25%; }

  .footer-bottom {
    position: relative;
    padding-block: 30px;
    z-index: 1;
  }

  .footer :is(.shape-1, .shape-2) {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    width: 30%;
    pointer-events: none;
    z-index: -1;
  }

  .footer .shape-1 { left: 13px; }

  .footer .shape-2 { left: -50px; }

}





/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 6rem;

    /**
     * spacing
     */

    --section-padding: 140px;

  }



  /**
   * REUSED STYLE
   */

  :is(.header, .hero) .container { max-width: 1280px; }

  .section-subtitle::before {
    height: 20px;
    margin-inline-end: 5px;
  }



  /**
   * HEADER
   */

  .header .btn { padding: 18px 36px; }



  /**
   * HERO
   */

  .hero { padding-block: 280px; }

  .hero .section-text { padding-inline-end: 90px; }

  .hero-banner img { width: 75%; }



  /**
   * ABOUT
   */

  .about::before { width: 55%; }

  .about-banner .w-100 { width: 50%; }

  /**
   * quality
   */

   .quality::before { width: 55%; }

   .quality-banner .w-100 { width: 50%; }



  /**
   * FOOTER
   */

  .footer-top .container { padding-inline-start: 20%; }

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    
    
}

a {
    text-decoration: none;
}


/* styles.css */

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.background-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  filter: brightness(0.5);
}

.background-images img:nth-child(1) {
  animation-name: fadeIn;
}

.background-images img:nth-child(2) {
  animation-name: zoomInTop;
  animation-delay: 10s;
}

.background-images img:nth-child(3) {
  animation-name: slideInBottom;
  animation-delay: 20s;
}

.background-images img:nth-child(4) {
  animation-name: bounceIn;
  animation-delay: 30s;
}

.background-images img:nth-child(5) {
  animation-name: rotateIn;
  animation-delay: 40s;
}

.background-images img:nth-child(6) {
  animation-name: fadeInLeft;
  animation-delay: 50s;
}

.background-images img:nth-child(7) {
  animation-name: flipInX;
  animation-delay: 60s;
}

.background-images img:nth-child(8) {
  animation-name: zoomInRight;
  animation-delay: 70s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes zoomInTop {
  0% {
      transform: scale(0) translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: scale(1) translateY(0);
      opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateY(0);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
      transform: rotate(-200deg);
      opacity: 0;
  }
  100% {
      transform: rotate(0deg);
      opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes flipInX {
  0% {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
  }
  100% {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
  }
}


@keyframes zoomInRight {
  0% {
      transform: scale(0) translateX(100%);
      opacity: 0;
  }
  100% {
      transform: scale(1) translateX(0);
      opacity: 1;
  }
}


/*-----------------------------------*\
  #ABOUTUS
\*-----------------------------------*/

.aboutus { margin-top: -140px; }
.aboutus1 { margin-top: -40px; }
.aboutus-banner {
  position: relative;
  border-radius: var(--radius-5);
  overflow: hidden;
  margin-block-end: 25px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  color: var(--red-crayola);
  font-size: 32px;
  padding: 16px;
  border-radius: 50%;
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 1px var(--white-1); }
  100% { box-shadow: 0 0 0 25px transparent; }
}

.aboutus .section-title {
  color: var(--royal-blue);
  
  margin-top: 80px;
  padding: 15px;
  border-radius: 10px;
  
}

.aboutus :is(.section-title, .section-text) { text-align: center; }

.aboutus .section-title { 
  
  margin-block-end: 5px; }

.aboutus .section-text { text-align: justify; color:var(--black); margin-block-end: 18px; }
.aboutus1 .section-text { text-align: justify; color:var(--black); margin-block-end: 30px; }
.aboutus1 .h3{margin-bottom: 20px; text-align:center;color: var(--royal-blue)}
.aboutus .h3 { margin-block-end: 8px; color: var(--royal-blue); }

.aboutus-list { margin-block: 15px 18px; }

.aboutus-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.aboutus-item ion-icon {
  color: var(--royal-blue);
  flex-shrink: 0;
  margin-block-start: 2px;
}

.aboutus-item:not(:last-child) { margin-block-end: 12px; }



.cta1 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  
}

.cta1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  opacity: 0.95;
  z-index: -1;
}

.cta1-subtitle,
.cta1 .section-title { color: var(--black); }

.cta1-subtitle {
  text-align: center;
}

.cta1 .section-title { margin-block: 12px 18px; }

.cta1 .btn { margin-inline: auto; }



@media (min-width: 768px) {
  /**
   * ABOUT
   */
    
   .aboutus-banner { max-width: 550px; }

   .aboutus .section-text {
     max-width: unset;
     margin-inline: 0;
   }
 
}

@media (min-width: 992px) {
  /**
   * ABOUT
   */
   
   .aboutus .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .aboutus-banner { margin-block-end: 0; }
}





@media (min-width: 1200px) {
  /**
   * ABOUT
   */
    
   .aboutus .container { gap: 60px; }

   .aboutus-item { gap: 7px; }
 
   .aboutus-item ion-icon { font-size: 20px; }
}





#products{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}


.row{
    margin-top: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.col1{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.col1 img {
    width: 100%;
    height: 100%;
}

.col2{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.col2 img {
    width: 100%;
    height: 100%;
    
}

.col{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.col img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 1px 20px #000);
}

.container-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    
}
.container-p img{
    border-radius: 1px;
    
    
}
.text {
    padding: 10px;
    text-align: center;
}

/* Responsive styling for tablets */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 20px;
    }
    .col1, .col2, .col {
        width: 100%;
    }
    .col1 img, .col2 img, .col img {
        width: 100%;
        height: auto;
    }
}

/* Responsive styling for mobile */
@media (max-width: 480px) {
    .row {
        flex-direction: column;
        gap: 20px;
    }
    .col1, .col2, .col {
        width: 100%;
    }
    .col1 img, .col2 img, .col img {
        width: 100%;
        height: auto;
    }
}



.products-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.product{
  
  margin-bottom: 50px;
}
.product-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
  gap: 20px;
  padding: 20px;
  margin: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.product-row .product-details{
  gap: 20px;
}
/* .product-row:nth-child(odd)  {
  margin-right: 350px;
}
.product-row:nth-child(even)  {
  margin-left: 350px;
} */
.product-row:nth-child(odd) .product-details {
  order: 1;
}

.product-row:nth-child(odd) .product-image {
  order: 2;
  
}

.product-row:nth-child(even) .product-details {
  order: 2;
}

.product-row:nth-child(even) .product-image {
  order: 1;
}

.product-details {
  flex: 1;
  text-align: center;
}

.product-details h3 {
  margin: 0 0 10px 0;
}

.product-details p {
  margin: 0 0 15px 10px;
  text-align: justify;
}

.product-image {
  flex: 1;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: auto;
  
  
}

.button-link {
  display: inline-block;
  background-color: var(--light-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: var(--radius-pill);
  height: auto;
  width: auto;
}

.button-link:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product-row {
      flex-direction: column;
      text-align: center;
      height: 100%;
  }

  .product-row .product-details,
  .product-row .product-image {
      order: initial;
  }

  .product-row .product-details {
      padding: 10px 0;
  }

  .product-row:nth-child(odd) .product-details {
    order: 2;
  }
  
  .product-row:nth-child(odd) .product-image {
    order: 1;
    
  }
  
  .product-row:nth-child(even) .product-details {
    order: 2;
  }
  
  .product-row:nth-child(even) .product-image {
    order: 1;
  }
  
}

.img-gallary{
  position: relative;
}

.img-gallary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/adwq1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5); /* Adjust the brightness as needed */
  z-index: -1;
}

.gallary-row1 {
  display: flex;
  justify-content: center; /* Adjust spacing between products */
  align-items: center; /* Align items to the top */
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  
}

.gallary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.gallary-img {
  max-height: 200px; /* Adjust the height as needed */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gallary-name {
  margin-top: 10px; /* Space between image and name */
}



.gallary-card .h3 { text-align: center;  color: var(--royal-blue); margin-bottom: 10px; }

@media (max-width: 1200px) {
  
  .gallary-card {
    margin: 30px;
     
  }
}

@media (max-width: 992px) {
  
  .gallary-card {
    margin: 30px;
    
  }
}

@media (max-width: 768px) {
  .gallary-row1 {
    flex-direction: column;
    margin: 0 0px;
    height: 100%;
    align-items: center; /* Make items take the full width */
  }
  .gallary-card {
    
    max-width: 100%; /* Make product cards take full width */
  }
}

@media (max-width: 576px) {
  .gallary-row1 {
    
    height: 100%;
  }
  .gallary-card {
    margin: 10px 0;
    
  }
}




.product-row1 {
  display: flex;
  justify-content: center; /* Adjust spacing between products */
  align-items: center; /* Align items to the top */
  
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 20px;
  height: 250px;
  width: 330px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.product-img {
  max-height: 200px; /* Adjust the height as needed */
  
}
.product-name {
  margin-top: 10px; /* Space between image and name */
}

.card-text1{
  text-align: justify;
  margin: 10px;
  
}

.product-card .h3 { text-align: center;  color: var(--royal-blue); margin-bottom: 10px; }

@media (max-width: 1200px) {
  
  .product-card {
    margin: 30px;
     
  }
}

@media (max-width: 992px) {
  
  .product-card {
    margin: 30px;
    
  }
}

@media (max-width: 768px) {
  .product-row1 {
    flex-direction: column;
    margin: 0 0px;
    height: 100%;
    align-items: center; /* Make items take the full width */
  }
  .product-card {
    
    max-width: 100%; /* Make product cards take full width */
  }
}

@media (max-width: 576px) {
  .product-row1 {
    
    height: 100%;
  }
  .product-card {
    margin: 10px 0;
    
  }
}

.whatsapp_float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 15px;
  right: 15px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  z-index: 100;

 
}

.whatsapp-icon {
  margin-top: 12px;
  font-size: 25px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 9px;
      font-size: 20px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 15px;
      right: 15px;
      font-size: 15px;
  }
}

.back-top-btn.active {
  opacity: 1;
  transform: translateY(-10px);
  visibility: visible;
}
.back-top-btn {
  background-color: #18181b;
  background-color: var(--light-blue);
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 2px 28px #0000001a;
  box-shadow: var(--shadow-2);
  color: #fff;
  color: var(--white-1);
  opacity: 0;
  padding: 12px;
  position: fixed;
  right: 20px;
  transition: .25s ease;
  transition: var(--transition-1);
  visibility: hidden;
  z-index: 4;
}